body{

background:#101820;

font-family:Arial;

color:white;

text-align:center;

margin:0;

padding:0;

}

.container{

margin-top:80px;

}

h1{

color:gold;

font-size:45px;

}

p{

font-size:22px;

margin-bottom:40px;

}

button{

width:280px;

height:60px;

font-size:20px;

margin:15px;

border:none;

border-radius:12px;

background:gold;

color:black;

font-weight:bold;

cursor:pointer;

}

button:hover{

background:orange;

}
